<ion-view view-title="Bienvenue">
  <ion-content>

  	<div class="row">
		<div class="dashblock col vaccins" ng-click="openModal();">
			<div class="pull-left">
				<i class="icon icon-big ion-alert-circled"></i>
			</div>
			<div>
				<h2>Vaccin Alert</h2>
				<p>Lorem ipsum sit amet dolor.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<a href="#/app/morpho" class="dashblock block col weight">
			<h5>
				<b>POIDS</b><br/>
				<small>mesuré le 15/03/2015</small>
			</h5>
			<br/>
			<h1 class="center">3263 g</h1>
		</a>
		<a href="#/app/morpho" class="dashblock block col length">
			<h5>
				<b>TAILLE</b><br/>
				<small>mesuré le 20/03/2015</small>
			</h5>
			<br/>
			<h1 class="center">71 cm</h1>
		</a>
	</div>

  </ion-content>
</ion-view>
