<ion-view view-title="Bienvenue">
  <ion-content class="padding">

  	<div class="row">
		<div class="dashblock col vaccins">
			<div class="pull-left">
				<i class="icon icon-big ion-alert-circled"></i>
			</div>
			<div>
				<h2>Vaccin Alert</h2>
				<p>Lorem ipsum sit amet dolor.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="dashblock block col weight">
			<h5 class="pull-right">
				<b>POIDS</b><br/>
				<small>mesuré le 15/03/2015</small>
			</h5>
			<br/>
			<h1 class="center">3263 g</h1>
		</div>
		<div class="dashblock block col length">
			<h5 class="pull-right">
				<b>TAILLE</b><br/>
				<small>mesuré le 20/03/2015</small>
			</h5>
			<br/>
			<h1 class="center">71 cm</h1>
		</div>
	</div>

	<div class="row">
		<div class="dashblock col chart">
			<img src="./img/example-chart.jpg" />
		</div>
	</div>

  </ion-content>
</ion-view>