<ion-view view-title="Croissance">
    <ion-nav-buttons side="primary">
      <img src="./img/baby.jpg" width="32" height="32" />
  </ion-nav-buttons>
  <ion-content>
    <div class="button-bar">
      <a class="button" ng-click="weightSlide()">Poids</a>
      <a class="button" ng-click="sizeSlide()">Taille</a>
      <a class="button" ng-click="pcSlide()">P. Cranien</a>
    </div>
    <ion-slide-box>
    <ion-slide>
        <div class="row">
          <div class="col">
            <h4 class="bold-last-element">{{data[data.length-1].weight}} kg <span>mesuré le {{data[data.length-1].date | date: 'dd/MM/yyyy'}}</span></h4>
            <canvas chart="Line" legend="true" options="options" data="chart"></canvas>
          </div>
        </div>
        <h5 class="history-title">HISTORIQUE</h5>
        <ion-list>
          <ion-item ng-repeat="item in data | orderBy:'id':true" ng-show="$index > 0">
            {{item.weight}} kg – <span class="grey-date">le {{item.date | date:'dd/MM/yyyy'}}</span>
          </ion-item>
        </ion-list>
    </ion-slide>
    <ion-slide>
      <div class="box red">
        Vous n'avez pas encore mesuré la taille de votre bébé.
        Cliquez sur le bouton "+" pour ajouter une mesure.
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box red">
        Vous n'avez pas encore mesuré le périmètre cranien de votre bébé.
        Cliquez sur le bouton "+" pour ajouter une mesure.
      </div>
    </ion-slide>
  </ion-slide-box>
  </ion-content>
  <button class="button button-float" ng-click="openModal()">
    <i class="icon ion-plus"></i>
  </button>
</ion-view>
