<ion-view view-title="Croissance">
  <ion-content>
    <div class="button-bar">
      <a class="button" ng-click="weightSlide()">Poids</a>
      <a class="button" ng-click="sizeSlide()">Taille</a>
      <a class="button" ng-click="pcSlide()">P. Cranien</a>
    </div>
    <ion-slide-box>
    <ion-slide>
        <div class="row">
          <div class="col">
            <h4 class="bold-last-element">{{data[data.length-1].weight}} kg <span>mesuré le {{data[data.length-1].date | date: 'dd/MM/yyyy'}}</span></h4>
            <canvas chart="Line" legend="true" options="options" data="chart"></canvas>
          </div>
        </div>
        <h5 class="history-title">HISTORIQUE</h5>
        <ion-list>
          <ion-item ng-repeat="item in data | orderBy:'id':true" ng-show="$index > 0">
            {{item.weight}} kg – <span class="grey-date">le {{item.date | date:'dd/MM/yyyy'}}</span>
          </ion-item>
        </ion-list>
    </ion-slide>
    <ion-slide>
      <div class="box red">
        Slide 2!
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box red">
        Slide 3!
      </div>
    </ion-slide>
  </ion-slide-box>
  </ion-content>
  <button class="button button-float" ng-click="openModal()">
    <i class="icon ion-plus"></i>
  </button>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Ajouter une mesure</h1>
      <a class="button button-icon icon ion-ios-close-empty" ng-click="closeModal()"></a>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Poids</i></span>
          <input type="number" placeholder="3200g" ng-model="dataWeight.weight">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label"><i class="icon ion-calendar"></i> Date</span>
          <input type="date" placeholder="20/03/2015" ng-model="dataWeight.date">
        </label>
      </div>
      <button class="button button-block button-positive" ng-click="newData()">
        Ajouter la mesure
      </button>
    </ion-content>
  </ion-modal-view>
</script>
