<ion-view view-title="Boutique">
  <ion-content padding="true">
  	<div class="" style="border:1px solid #dddddd;">
  		<div class="product-image padding" style="background:#dddddd">
  			<img src="./img/camera.jpg" style="max-width:100%;" />
  		</div>
  		<div class="product-description padding">
			<h2>iBaby Monitor M3s </h2>
			<p>La camera ibaby se connecte a votre réseau wifi très facilement et vous permet de voir tout ce qui se passe dans la pièce sur votre iPad ou iPhone. </p>
			<button class="button">
			  <i class="icon ion-ios-plus-outline"></i> Voir le détail
			</button>
			<button class="button button-balanced">
			  <i class="icon ion-ios-cart-outline"></i> Acheter
			</button>
  		</div>
  	</div>
  	<br/><br/>
  	<div class="" style="border:1px solid #dddddd;">
  		<div class="product-image padding" style="background:#dddddd">
  			<img src="./img/balance.jpg" style="max-width:100%;" />
  		</div>
  		<div class="product-description padding">
			<h2>Balance connectée iHealth</h2>
			<p>Mesure 9 données clés: Poids, graisse corporelle, masse maigre, masse musculaire, masse osseuse, masse hydrique.</p>
			<button class="button">
			  <i class="icon ion-ios-plus-outline"></i> Voir le détail
			</button>
			<button class="button button-balanced">
			  <i class="icon ion-ios-cart-outline"></i> Acheter
			</button>
  		</div>
  	</div>
  	<br/><br/>
  	<div class="" style="border:1px solid #dddddd;">
  		<div class="product-image padding" style="background:#dddddd">
  			<img src="./img/samsung.jpg" style="max-width:100%;" />
  		</div>
  		<div class="product-description padding">
			<h2>Samsung Baby Monitor </h2>
			<p>Baby monitor Vidéo SAMSUNG. Indispensable pour surveiller et protéger votre Bébé, Samsung 3,5" LCD Videobabyphone SEW-3036P.</p>
			<button class="button">
			  <i class="icon ion-ios-plus-outline"></i> Voir le détail
			</button>
			<button class="button button-balanced">
			  <i class="icon ion-ios-cart-outline"></i> Acheter
			</button>
  		</div>
  	</div>

  </ion-content>
</ion-view>
