<ion-view view-title="Boutique">
  <ion-nav-buttons side="right">
      <button class="button button-clear icon-left ion-ios-cart">(0)</button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <h4 style="margin-top:15px;color:#a4a4a4;font-weight:bold;font-size:16px;">Produits recommandés par BB Santé</h4>
    <br/>

  	<div>
  		<div class="product-image padding" style="text-align:center;">
  			<img src="./img/camera.jpg" style="max-width:80%;margin:0 auto;" />
  		</div>
  		<div class="product-description padding">
			<h4 style="font-weight:bold;">iBaby Monitor M3s </h4>
			<p>La camera ibaby se connecte a votre réseau wifi très facilement et vous permet de voir tout ce qui se passe dans la pièce sur votre iPad ou iPhone. </p>
      <div class="row"> 
  			<button class="button col" style="padding:0;">
  			  <i class="icon ion-ios-information-outline"></i> Voir le détail
  			</button>
  			<button class="button button-positive col" style="padding:0;margin-left:10px;">
  			  <i class="icon ion-ios-cart-outline"></i> Acheter
  			</button>
      </div>
  		</div>
  	</div>
  	<br/><hr/><br/>

        <div>
      <div class="product-image padding" style="text-align:center;">
        <img src="./img/balance.jpg" style="max-width:80%;margin:0 auto;" />
      </div>
      <div class="product-description padding">
      <h4 style="font-weight:bold;">Balance connectée iHealth</h4>
      <p>Mesure 9 données clés: Poids, graisse corporelle, masse maigre, masse musculaire, masse osseuse, masse hydrique.</p>
      <div class="row"> 
        <button class="button col" style="padding:0;">
          <i class="icon ion-ios-information-outline"></i> Voir le détail
        </button>
        <button class="button button-positive col" style="padding:0;margin-left:10px;">
          <i class="icon ion-ios-cart-outline"></i> Acheter
        </button>
      </div>
      </div>
    </div>
    <br/><hr/><br/>

        <div>
      <div class="product-image padding" style="text-align:center;">
        <img src="./img/samsung.jpg" style="max-width:80%;margin:0 auto;" />
      </div>
      <div class="product-description padding">
      <h4 style="font-weight:bold;">Samsung Baby Monitor </h4>
      <p>Baby monitor Vidéo SAMSUNG. Indispensable pour surveiller et protéger votre Bébé, Samsung 3,5" LCD Videobabyphone SEW-3036P.</p>
      <div class="row"> 
        <button class="button col" style="padding:0;">
          <i class="icon ion-ios-information-outline"></i> Voir le détail
        </button>
        <button class="button button-positive col" style="padding:0;margin-left:10px;">
          <i class="icon ion-ios-cart-outline"></i> Acheter
        </button>
      </div>
      </div>
    </div>
    <br/><hr/><br/>

  </ion-content>
</ion-view>
