<ion-view view-title="Vaccins">
	<ion-nav-buttons side="right">
	    <img src="./img/baby.jpg" width="32" height="32" />
	</ion-nav-buttons>
  <ion-content>
  	<div class="row padding">
  		<div class="col vaccin-alert">

  			<h3><i class="ion-alert-circled"></i> Alerte de vaccin</h3>
  			<i class="icon ion-ios-close-empty" style="position:absolute;color:#c17e2b;font-size:35px;top:10px;right:15px;"></i>
  			<p>Nicole doit se faire vacciner dans 15 jours. Prévoyez dès à présent votre rendez-vous.</p>
  			<button class="button button-light icon-left ion-ios-information-outline">
			  <small>Plus d'infos</small>
			</button>
			<button class="button button-light icon-left ion-ios-telephone-outline" ng-click="openModal();">
			  <small>Appeler le médecin</small>
			</button>
  		</div>
  	</div>
	<div>
		<header class="module-location">
			<div class="location-title rating-positive">
				<h2>Naissance</h2>
			</div>
		</header>
    <span class="today-bar"></span>
		<ul class="module-history" ng-repeat="item in data | orderBy:'id':false">
			<li ng-if="item.type != 'bar'" class="rating-negative {{item.type}}">
				<h3>{{item.value}}</h3>
				<i></i>
			</li>
      <div ng-if="item.type == 'bar'"><div class="month-bar"></div><div class="month-name">{{item.value}}</div></div>

		</ul>
	</div>
  </ion-content>
</ion-view>
