<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Alerte vaccin</h1>
		<button class="button pull-right" ng-click="closeModal();">Fermer</button>
	</ion-header-bar>
	<ion-content>
		<div class="list card">
			<div class="item item-divider">
		    Contacter un professionnel de santé
		  	</div>
			<a href="#" class="item item-icon-left">
				<i class="icon ion-ios-telephone-outline"></i>
				Appeler mon pédiatre habituel
			</a>
			<a href="#" class="item item-icon-left">
				<i class="icon ion-ios-location-outline"></i>
				Trouver un service autour de moi
			</a>
		</div>
		<!--<div class="list card">
			<div class="item item-divider">
			Gérer mon alerte
			</div>
			<a href="#" class="item item-icon-left">
				<i class="icon ion-calendar"></i>
				Me le rappeler plus tard
			</a>
			<a href="#" class="item item-icon-left">
				<i class="icon ion-checkmark"></i>
				J'ai déjà pris rendez-vous
			</a>
		</div>-->
	</ion-content>
</ion-modal-view>
