.module-location {
  background-color: transparent;
  height: 100px;
  position: relative;
}

.module-location .location-quickstats {
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  list-style: none;
  margin: 0;
  padding: 10px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
.module-location .location-quickstats li {
  float: left;
  line-height: 20px;
  margin-right: 15px;
  padding-left: 25px;
  position: relative;
}
.module-location .location-quickstats li:last-child {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
.module-location .location-quickstats li.rating-negative i {
  background-image: url("http://i.imgur.com/O3MwGgn.png");
}
.module-location .location-quickstats li.rating-positive i {
  background-image: url("http://i.imgur.com/icKomQ6.png");
}
.module-location .location-quickstats li.rating-total i {
  background-image: url("http://i.imgur.com/MQgvlAI.png");
}
.module-location .location-quickstats li i {
  background-size: cover;
  color: transparent;
  display: block;
  font-size: 0;
  height: 20px;
  left: 0;
  margin-right: 5px;
  overflow: hidden;
  position: absolute;
  width: 20px;
}
.module-location .location-quickstats li span {
  display: inline-block;
  font-size: 0.8125em;
}
.module-location .location-title {
  bottom: 0;
  left: 0;
  padding: 0 50px 40px 50px;
  position: absolute;
  right: 0;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.module-location .location-title.rating-positive::before {
  background-color: #6c6c6c;
}

.module-location .location-title.rating-positive.Poids::before {
  background-color: #6c6c6c;
}

.module-location .location-title.rating-positive::after {
  background-image: -moz-linear-gradient(#979797, #979797);
  background-image: -webkit-linear-gradient(#979797, #979797);
  background-image: linear-gradient(#979797, #979797);
}
.module-location .location-title.rating-negative::before {
  background-color: #ff3927;
}
.module-location .location-title.rating-negative::after {
  background-image: -moz-linear-gradient(#ff3927, rgba(255, 57, 39, 0));
  background-image: -webkit-linear-gradient(#ff3927, rgba(255, 57, 39, 0));
  background-image: linear-gradient(#ff3927, rgba(255, 57, 39, 0));
}

.module-location .location-title.rating-negative.Vaccin::before {
  background-color: blue;
}
.module-location .location-title.rating-negative.Vaccin::after {
  background-image: -moz-linear-gradient(#ffb356, rgba(255, 57, 39, 0));
  background-image: -webkit-linear-gradient(blue, rgba(255, 57, 39, 0));
  background-image: linear-gradient(blue, rgba(255, 57, 39, 0));
}

.module-location .location-title::before {
  border-radius: 50%;
  border: 3px solid white;
  bottom: 45px;
  content: '';
  display: block;
  left: 23px;
  height: 15px;
  position: absolute;
  width: 15px;
    border: 2px solid #fff;
  box-shadow: 0px 0px 3px #aaa;
  -webkit-box-shadow: 0px 2px 3px #666;
  -moz-box-shadow: 0px 2px 3px #666;
}
.module-location .location-title::after {
  bottom: -28px;
  content: '';
  display: block;
  height: 73px;
  left: 28px;
  position: absolute;
  width: 5px;
}
.module-location .location-title h2 {
  font-size: 1.125em;
  font-weight: 400;
  margin: 0;
}
.module-location .location-title time {
  display: block;
  font-size: 1.1125em;
}

.module-history {
  list-style: none;
  margin: 0;
  padding: 4px 0;
}
.module-history li {
  margin-bottom: 1px;
  padding: 9px 30px 7px 50px;
  position: relative;
}
.module-history li.rating-positive i {
  background-color: #5be225;
}
.module-history li.rating-positive i::before {
  background-image: -moz-linear-gradient(rgba(91, 226, 37, 0), #5be225);
  background-image: -webkit-linear-gradient(rgba(91, 226, 37, 0), #5be225);
  background-image: linear-gradient(rgba(91, 226, 37, 0), #5be225);
}
.module-history li.rating-positive i::after {
  background-image: -moz-linear-gradient(#5be225, rgba(91, 226, 37, 0));
  background-image: -webkit-linear-gradient(#5be225, rgba(91, 226, 37, 0));
  background-image: linear-gradient(#5be225, rgba(91, 226, 37, 0));
}
.module-history li.rating-negative.ok i {
  background: url("../img/check.jpg") center center no-repeat #6bb324;
}

.module-history li.rating-negative.todo i {
  background-color: #ffb356;
}

.module-history li.rating-negative.later i {
  background-color: #dcdcdc;
}

.module-history li.rating-negative i::before {
  background-image: -moz-linear-gradient(#979797, #979797);
  background-image: -webkit-linear-gradient(#979797, #979797);
  background-image: linear-gradient(#979797, #979797);
}
.module-history li.rating-negative i::after {
  background-image: -moz-linear-gradient(#ff3927, rgba(255, 57, 39, 0));
  background-image: -webkit-linear-gradient(#ff3927, rgba(255, 57, 39, 0));
  background-image: linear-gradient(#ff3927, rgba(255, 57, 39, 0));
}
.module-history li.memo-yep i {
  background-image: url("http://i.imgur.com/D6avt4N.png");
  background-image: -webkit-image-set(url("http://i.imgur.com/D6avt4N.png") 1x, url("http://i.imgur.com/qrG2rHB.png") 2x);
  background-size: cover;
  height: 21px;
  left: 15px;
  top: 10px;
  width: 21px;
}
.module-history li.memo-yep i::before, .module-history li.memo-yep i::after {
  height: 35px;
  left: 10px;
}
.module-history li.memo-yep i::before {
  top: -35px;
}
.module-history li.memo-yep i::after {
  bottom: -35px;
}
.module-history li:last-child i::before {
  height: 21px;
  top: -24px;
}
.module-history li:last-child i::after {
  display: none;
}
.module-history h3,
.module-history time {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.module-history h3 {
  color: #404040;
  font-size: 1.125em;
  font-weight: 400;
  margin: 0;
}
.module-history time {
  color: #a6a6a6;
  display: block;
  font-size: 1.0em;
  text-transform: uppercase;
}
.module-history i {
  background-color: #a6a6a6;
  border-radius: 50%;
  color: transparent;
  display: block;
  font-size: 0;
  height: 22px;
  left: 20px;
  position: absolute;
  top: 5px;
  width: 22px;
  z-index: 9;
  border: 3px solid #fff;
  box-shadow: 0px 0px 3px #aaa;
  -webkit-box-shadow: 0px 2px 3px #666;
  -moz-box-shadow: 0px 2px 3px #666;
}
.module-history i::before, .module-history i::after {
  content: '';
  display: block;
  height: 40px;
  left: 5px;
  position: absolute;
  width: 5px;
  z-index: -1;
}
.module-history i::before {
  top: -40px;
}
.module-history i::after {
  bottom: -40px;
}

html {
  background-color: #d9d9d9;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a{
  text-decoration: none;
}

.wrapper {
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

h4.bold-last-element{
  color: #41D2BA;
}

h4.bold-last-element span{
  color: #A7A1A1;
  font-size: 14px;
  padding-left: 8px;
}

h5.history-title{
  color: #A7A1A1;
  padding-left: 15px;
}

.grey-date{
  color: #A7A1A1;
  font-weight: 500;
}

/*IONIC EDIT*/

.row{
  padding: 0;
}

.item-divider{
  text-align: center;
}

.bar{
  background-color: #ffffff;
  border-width: 0px;
}

.bar.bar-stable{
  border-width: 0px;
}

ion-side-menu i {
  margin-right: 15px;
}

.dashblock {
}

.col {
  padding: 15px;
  position: relative;
}

.dashblock.appointment {
  background: #ededed;
  color: #b2b2b4;
  border-bottom: 1px solid #529ad6;
}

.dashblock.appointment h2 {
  color: #4b4b4b;
  margin: 0 0;
}

.dashblock.appointment h4 {
  color: #b2b2b2;
}

.dashblock .icon {
  color: #599ed7;
}

.dashblock.weight {
  background: #d1eeec;
  margin: 16px 7px 16px 0;
  border: 1px solid #a2e5e0;
}

.dashblock.weight h1,.dashblock.weight h4,.dashblock.weight h5 {
  color: #1bada2;
}
.dashblock h4 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.dashblock h5 {
  font-size: 12px;
  margin: 0;
}

.dashblock.weight h1, .dashblock.length h1 {
  margin-bottom: 30px;
}

.dashblock.length {
  background: #efdeef;
  margin: 16px 0 16px 7px;
  border: 1px solid #e8b2e8;
}

.dashblock.length h1, .dashblock.length h4, .dashblock.length h5 {
  color: #b35cb3;
}

.dashblock.chart {
  border: 1px solid #a3ae3a;
  background: #ededed;
}

.dashblock.tip {
  background: #fff5cf;
  border: 1px solid #ddcf9d;
  color: #7e6916;
  position: relative;
}

.dashblock.tip::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  border-width: 0 17px 17px 0;
  border-style: solid;
  border-color: #bcac6e #fff;
}

.dashblock.tip h1, .dashblock h4 {
  margin-top: 0;
  color: #7e6916;
}

.dashblock .blockdata {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

.center {
  text-align: center;
}

.icon-big {
  font-size: 50px;
}

.pull-left {
  float: left;
  margin-right: 20px;
  height: 50px;
  /* vertical-align: middle; */
  margin-top: 9px;
}

.pull-right {
  float: right;
  font-size: 45px;
  margin-top: 20px;
}

.button-float {
  background: #66D2B8 !important;
  color: white !important;
  height: 52px;
  z-index: 12 !important;
  position: absolute !important;
  bottom: 20px;
  right: 20px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
}

.button-float:hover {
  -webkit-transform: translate3d(0, -1px, 0) !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
  background: #007FAF !important;
}

.popup-container .popup {
  width: 90%;
  max-width: 100%;
  max-height: 90%;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.vaccin-alert {
  background: #ffb356;
  color: #fff;
}

.vaccin-alert h3 {
  color: #fff;
}

.today-bar {
  border-bottom: 2px solid #00a1de;
  position: absolute;
  display: block;
  top: 311px;
  width: 100%;
}

.month-bar {
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
    margin-top: 15px;
}

.month-name {
  padding: 0 20px;
  background: #fff;
  width: 120px;
  margin: -10px auto 0 auto;
  text-align: center;
  color: #dcdcdc;
  font-weight: bold;
}

.month-bar::before {
  content: '';
  display: block;
  height: 40px;
  left: 28px;
  position: absolute;
  width: 5px;
  margin-top: -35px;
  z-index: -1;
  background-image: linear-gradient(#979797, #979797);
}

/*.store, .store a {
  background: #333 !important;
  color: #fff;
}*/
